.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.swiper-slide-thumb-active img {
  border: 2px solid #ef4444 !important;
  border-radius: 8px;
}

/* Mây bay */
.cloud {
  position: absolute;
  background: url('/images/cloud.png') no-repeat;
  background-size: contain;
  width: 200px;
  height: 100px;
  opacity: 0.8;
  animation: moveCloud 60s linear infinite;
  z-index: 0;
}
.cloud-1 {
  top: 50px;
  left: -200px;
  animation-delay: 0s;
}
.cloud-2 {
  top: 120px;
  left: -300px;
  animation-delay: 10s;
}
.cloud-3 {
  top: 200px;
  left: -250px;
  animation-delay: 20s;
}

@keyframes moveCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}

@keyframes flyBird {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(120vw) translateY(-40px);
  }
}
