<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>VNPay - Kết quả</title>
  </head>
  <body>
    <h1>Kết quả thanh toán</h1>
    <p>Mã phản hồi: <%= code %></p>
  </body>
</html>
